@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

table,
td,
th {
  border: 1px solid black;
  padding: 2rem;
}
td {
  position: relative;
}
button {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 10px 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}
table {
  border-collapse: collapse;
  margin: auto;
}
h1,
h4 {
  text-align: center;
  display: block;
  margin: 2rem;
}
h4 {
  font-size: 30px;
}

#result {
  margin: 1rem;
  font-weight: 400;
  font-style: oblique;
}
h1 {
  border-radius: 1px;
  font-size: 4rem;
  font-weight: 800;
  font-family: "ABeeZee", sans-serif;
}
